 
 
     <div class="row">
        <div class="col-xl-9">
            <div class="card border-0">
                <div class="card-body">
                    <h2>Ticket Booking</h2>
                   
                        <form>
                        <div>
                            <label class="form-label">Name</label>
                            <input [(ngModel)]="BookingModel.name" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />
                           
                        </div>
                        
                        <div>
                            <label class="form-label">Email ID</label>
                            <input [(ngModel)]="BookingModel.emailId" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />
                            
                        </div>
                        <div>
                            <label class="form-label">Gender</label>
                            <br/>
                            <input [(ngModel)]="BookingModel.gender" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />
                            
                        </div>
                        <div>
                            <label class="form-label">Age</label>
                            <input [(ngModel)]="BookingModel.age" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />
                        </div>
                        <div>
                            <label class="form-label">Meal</label>
                            <input [(ngModel)]="BookingModel.meal" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />
                        </div>
                        
                        <div>
                            <label class="form-label">Seat No</label>
                            <input [(ngModel)]="BookingModel.seatNo" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />
                        </div>

                        <div>
                            <label class="form-label">Flight No</label>
                            <input [(ngModel)]="BookingModel.flighNo" [ngModelOptions]="{standalone: true}" class="form-control" type="text" />
                        </div>

                        
                        <div class="py-4">
                            <input type="submit"  class="btn btn-primary" value="Book Tickets" (click)="BookTicket()" />
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- <table class="table caption-top">
        <caption>List of Airline</caption>
        <thead class="table-light">
    
            <td>Airline Name</td>
            <td>Airline Logo</td>
            <td>Airline Contactno</td>
            <td>Airline Address</td>
            <td>Airline Availability</td>
        </thead>
        <tr *ngFor="let air of AirlineModels">
            <td>{{air.name}}</td>
            <td>{{air.updateLogo}}</td>
            <td>{{air.contactNumber}}</td>
            <td>{{air.contactAdd}}</td>
            <td>{{air.available}}</td>
             <td>
               
    
    
                 <button type="button" (click)="BlockAirline(air)" class="btn btn-outline-primary"
                    style="margin:10px">Block Airline</button> 
                
            </td> 
        </tr>
    </table>
     -->
   